__pycache__/
*~
venv/
script2ansible.egg-info/
# run-time artifacts - tidy up
ops_log.json
instrumented.pl
ansible_tasks.json
ansible_tasks.yml
# local config
.script2ansible.yaml
# test artifacts
.coverage